<script>
  function copyPost() {
    //Copy post to clipboard
    var postField = document.getElementById("postField");
  }
  </script>
   <div class="post">
    <div class="postDetail">Poster:(Email here)</div>
    <div class="postDetail">Date:(Date here)</div>
    <div class="postDetail">Language:(Language here)</div>
  </div>
  <textarea class="postField" id="postField" spellcheck="false" readonly>Contents of post</textarea>
  <div class="copyButton" onclick="copyPost()">Copy to Clipboard</div>