<script>
    function addGroupCards() {
      //Boxes to append cards to
      var yourGroupBox = document.getElementById("yourGroupBox");
      var otherGroupsBox = document.getElementById("otherGroupsBox");
      
    }
    </script>
     <div class="yourGroupBox" id="yourGroupBox">
        <div class="yourGroupHeader">Your Group</div>
        <a class="groupCard" href="">
          <div class="groupCardHeader">Group Name</div>
          <div class="groupCardContent">Posts:(# of posts)<br>
                                        Members:(# of members)<br>
                                        Whatever else
          </div>
        </a>
      </div>
      <div class="otherGroupsBox" id="otherGroupsBox">
        <div class="otherGroupsHeader">Other Groups</div>
        <a class="groupCard" href="">
          <div class="groupCardHeader">Group Name</div>
        </a>
        <a class="groupCard" href="">
          <div class="groupCardHeader">Group Name</div>
        </a>
      </div>
      <div class="emptySpace"></div>