
body {
    margin: 0;
    overflow: hidden;
  }
  div.title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    width: 30%;
    padding: 10px 0px;
    text-align: center;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }