<div class="title">CodeRoom Home</div>
<a class="createGroupCard" href="../create-group/create-group.component.html">
  <div class="createGroupHeader">Create Group</div>
  <div class="createGroupText">Start a group so others can share code.</div>
</a>
<div class="joinGroupCard">
  <div class="joinGroupHeader">Join Group</div>
  <div class="joinGroupText">Enter group owner's email:</div>
  <input class="IDField" type="text">
  <div class="joinGroupButton">Join</div>
</div>
<a class="myGroupsCard" href="../my-groups/my-groups.component.html">
  <div class="myGroupsHeader">My Groups</div>
  <div class="myGroupsText">See all of the groups you're in.</div>
</a>