body {
    margin: 0;
    overflow: hidden;
  }
  div.menuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 80px ;
    overflow: hidden;
    background-color: #333;
  }
  a.homeButton:link {
    float: left;
    height: 80px;
    width: 100px;
    border-right: 2px solid black;
    cursor: pointer;
  }
  a.homeButton:visited {
    border-right: 2px solid black;
  }
  a.homeButton:hover {
    background-color: #111;
  }
  img.logo {
    position: relative;
    left: 8px;
    width: 80px;
    cursor: pointer;
  }
  a.myPostsButton {
    padding: 25px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
  }
  a.myPostsButton:link {
    float: left;
    height: 80px;
    width: 120px;
    border-right: 2px solid black;
    cursor: pointer;
  }
  a.myPostsButton:visited {
    border-right: 2px solid black;
  }
  a.myPostsButton:hover {
    background-color: #111;
  }
  div.myIDButton {
    float: left;
    height: 80px;
    width: 120px;
    padding: 25px 20px;
    cursor: pointer;
    border-right: 2px solid black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
  }
  div.myIDButton:hover {
    background-color: #111;
  }
  div.helpButton {
    float: left;
    height: 80px;
    width: 120px;
    padding: 25px 20px;
    cursor: pointer;
    border-right: 2px solid black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
  }
  div.helpButton:hover {
    background-color: #111;
  }
  div.logoutButton {
    float: right;
    height: 80px;
    width: 120px;
    padding: 25px 20px;
    cursor: pointer;
    border-left: 2px solid black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
  }
  div.logoutButton:hover {
    background-color: #111;
  }
  div.title {
    position: relative;
    top: 150px;
    left: 2px;
    margin-left: 20%;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  textarea {
    position: absolute;
    top: 500px;
    left: 20%;
    width: 800px;
    height: 200px;
    padding: 0px 4px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
    font-size: 14px;
    font-family: Consolas, 'Courier New', monospace;
  }
  select.langmenu {
    position: absolute;
    top: 500px;
    margin-left: 20%;
    left: 800px;
  }
  div.formatButton {
    position: absolute;
    top: 600px;
    margin-left: 20%;
    left: 800px;
    background-color: rgb(100, 255, 100);
    border: 2px solid green;
    border-radius: 4px;
    width: 110px;
    padding: 4px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  div.postButton {
    position: absolute;
    top: 550px;
    margin-left: 20%;
    left: 800px;
    background-color: rgb(100, 255, 100);
    border: 2px solid green;
    border-radius: 4px;
    width: 110px;
    padding: 4px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  div.postButton:hover {
    background-color: rgb(85, 216, 85);
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.19);
  }
  code {
    display: block;
    white-space: pre-wrap   
  }
  code.code{
    position: absolute;
    left: 270px;
  }