<script>
  function addPosts() {
    //Box to append posts to
    var postsBox = document.getElementById("postsBox");
    
  }
  </script>
  <div class="postsBox" id="postsBox">
    <div class="postsBoxHeader">(Group Name)'s Posts</div>
    <div class="post">
      <div class="postDetail">Poster:(Email here)</div>
      <div class="postDetail">Date:(Date here)</div>
      <div class="postDetail">Language:(Language here)</div>
    </div>
    <div class="post">
      <div class="postDetail">Poster:(Email here)</div>
      <div class="postDetail">Date:(Date here)</div>
      <div class="postDetail">Language:(Language here)</div>
    </div>
    <div class="post">
      <div class="postDetail">Poster:(Email here)</div>
      <div class="postDetail">Date:(Date here)</div>
      <div class="postDetail">Language:(Language here)</div>
    </div>
  </div>
  <div class="emptySpace"></div>