body {
    margin: 0;
  }
  div.title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    width: 30%;
    padding: 10px 0px;
    text-align: center;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  div.Q1 {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    padding: 16px 0px;
    border-top: 2px solid gray;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  div.A1 {
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    padding: 16px 0px;
    border-bottom: 2px solid gray;
    text-align: center;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
  }
  div.Q2 {
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    padding: 16px 0px;
    border-top: 2px solid gray;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  div.A2 {
    position: absolute;
    top: 580px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    padding: 16px 0px;
    border-bottom: 2px solid gray;
    text-align: center;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
  }